@media (min-width: 1600px) {
   .header {
      margin-bottom: 98px;
   }

   .discover__buttons {
      margin-bottom: 64px;
   }

   .discover__info-descr {
      font-size: 16px;
   }

   .discover__text {
      margin-left: -6px;
      letter-spacing: 0.2px;
      max-width: 620px;
   }

   .discover-border {
      margin-left: -19px;
   }

   .discover-border::before {
      right: -23px;
   }

   .discover-border::after {
      left: -40px;
   }

   .discover__image .card-block {
      margin: 0 -7px -12px 0;
   }

   .discover__image .card-block__timer {
      margin: 3px -3px 0 0;
   }

   .discover__image .time-count__item:nth-child(2) {
      padding-right: 5px;
   }

   .discover__image .time-count__item:nth-child(3) {
      padding-right: 2px;
   }

   .discover__image .time-count__content {
      column-gap: 18px;
   }

   .discover__image .card-block__general {
      margin-bottom: 13px;
   }

   .discover__image .card-block__eth {
      margin: 8px 0px 0px 1px;
      font-size: 11px;
   }

   .discover__image .card-block__eth-box {
      margin-right: 5px;
   }

   .discover__image .card-block__eth-img {
      margin-right: 7px;
   }

   .discover__image .card-block__eth-text {
      font-size: 12px !important;
      letter-spacing: 1.2px;
   }

   .discover__image .card-block__button {
      margin-bottom: -2px;
      padding: 7px 42px 7px 10px;
   }

   .ethereum {
      margin: 5px 0px 0px 42px !important;
   }

   .bitmex {
      margin: 18px 0px 0px 0px;
   }

   .nft {
      margin-bottom: 127px;
   }

   .nft .card-block__timer {
      margin: 2px -2px 0 0;
   }

   .nft .time-count__text {
      font-size: 13px;
   }

   .nft .card-block__button {
      max-width: 157px;
      padding: 10px 52px 9px 10px;
      margin-top: 7px;
   }

   .nft .card-block__button::after {
      top: 18px;
      right: 12px;
   }

   .tabs__title {
      letter-spacing: 0.2px;
   }

   .tabs__small-btn {
      margin-top: 50px;
      padding-left: 10px;
   }

   .tabs__small-btn span {
      letter-spacing: -0.8px;
      font-size: 21px;
      margin-right: -12px;
   }

   .tabs .section-descr__button img {
      width: 52px;
      height: 18px;
      margin-right: 5px;
   }

   .collections .login::after {
      right: -21px;
   }

   .collections__slide-button {
      margin-left: 10px;
      margin-top: 3px;
   }

   .sellers__title-box {
      margin-right: -32px;
      letter-spacing: 0.2px;
   }

   .sellers__text {
      margin-right: -15px;
      letter-spacing: -0.1px;
      line-height: 147%;
      margin-top: 1px;
      margin-bottom: 56px;
   }

   .sellers__top-user {
      padding-left: 27px;
   }

   .sellers__top-user:nth-child(10),
   .sellers__top-user:nth-child(11),
   .sellers__top-user:nth-child(12) {
      padding-left: 19px;
      padding-top: 19px;
   }

   .sellers__left {
      margin-right: 5px;
   }

   .sellers__left-nickname {
      letter-spacing: -0.6px;
   }

   .sellers__top-user:nth-child(10) .sellers__left-num,
   .sellers__top-user:nth-child(11) .sellers__left-num,
   .sellers__top-user:nth-child(12) .sellers__left-num {
      margin-right: 14px;
   }

   .sellers__right {
      margin-top: 14px;
   }

   .sellers__button {
      margin-right: -16px;
   }

   .contact__title {
      margin-bottom: 32px;
   }

   .contact__text {
      margin-bottom: 53px;
      letter-spacing: 0.05px;
   }

   .contact__form {
      margin-bottom: 1px;
   }

   .contact__email {
      padding: 10px 18px;
      margin-bottom: 7px;
      letter-spacing: -0.2px;
   }

   .contact__btn {
      padding: 9px 37px 9px 34px;
      margin-bottom: 7px;
   }


   .footer__logo {
      margin-top: -6px;
      margin-bottom: 30px;
   }

   .footer__text {
      letter-spacing: 0.3px;
   }

   .footer__main {
      max-width: 282px;
   }

   .footer__logo .logo__img:last-child {
      margin-bottom: -5px;
      margin-left: 3px;
   }
}

@media (max-width: 375px) {
   .discover__image {
      margin-right: 11px;
   }

   .discover .card-block {
      margin-left: 6px;
      padding: 31px 20px 10px 20px;
   }

   .discover .card-block__general {
      column-gap: 30px;
   }

   .discover .card-block__box span {
      letter-spacing: -0.4px;
   }

   .discover .card-block__user span::after {
      right: -15px;
   }

   .discover .card-block__timer span {
      margin: 2px 0px 7px -1px;
   }

   .discover .card-block__general {
      margin-bottom: 14px;
   }

   .discover .card-block__eth {
      margin-top: 8px;
   }

   .discover .card-block__eth-img {
      margin-right: 7px;
   }

   .discover .card-block__eth-text {
      font-size: 10px;
      letter-spacing: 2px;
   }

   .discover .card-block__eth span {
      margin-left: -8px;
   }

   .discover .card-block__button {
      margin-bottom: -1px;
      margin-right: -2px;
      letter-spacing: -0.3px;
      padding: 7px 43px 7px 10px;
   }

   .discover .card-block__button::after {
      right: 9px;
   }

   .nft__card-block {
      padding: 32px 16px 13px 20px;
      height: 166px;
      margin-top: 0px;
   }

   .nft .card-block__general {
      margin-bottom: 11px;
   }

   .nft .card-block__avatar {
      margin-right: 3px;
   }

   .nft .card-block__box span {
      letter-spacing: 0.3px;
   }

   .nft .card-block__user span {
      letter-spacing: -0.3px;
   }

   .nft .card-block__user span::after {
      right: -19px;
   }

   .nft .card-block__button {
      margin-top: 10px;
      padding: 7px 44px 10px 6px;
      letter-spacing: 0.4px;
   }

   .nft__explore {
      max-width: 136px;
      padding: 2px 0;
      margin-top: 39px;
   }

   .explore-btn span {
      margin-left: 11px;
   }

   .nft {
      margin-bottom: 107px;
   }

   .tabs .tab-content {
      margin-top: -6px;
      margin-right: -5px;
   }

   .tabs {
      margin-bottom: 111px;
   }

   .collections__title {
      margin-bottom: -2px;
   }

   .collections__slide-nickname {
      letter-spacing: 0.4px;
      margin-right: -2px;
   }

   .collections .login {
      padding-right: 1px;
   }

   .collections .login::after {
      right: -17px;
   }

   .collections__slide-button {
      margin-right: -7px;
      margin-top: -1px;
   }

   .sellers__title {
      margin-right: 1px;
      letter-spacing: -0.4px;
   }

   .sellers__text {
      margin-left: -4px;
   }

   .sellers__top-user {
      border-radius: 21px;
   }

   .sellers__left-nickname {
      margin-top: -1px;
      margin-bottom: 6px;
   }

   .sellers__left-rating {
      padding-left: 9px;
   }

   .sellers__right {
      margin-top: 9px;
      padding: 3px 13px;
   }

   .images-bg__text {
      letter-spacing: -0.15px;
      line-height: 171%;
      margin-left: -1px;
      margin-bottom: 19px;
   }

   .contact__email {
      letter-spacing: 0.2px;
   }
}